*{
margin:0;
padding:0;  
  
}
body{
    font-family: sans-serif;
}

#header{
    display:flex;
    position:fixed;
    top:0;
    
    
    justify-content: space-between;
    align-items:center;
    background-color:lightgrey;
    height:10vh;
    width:100%;
    Z-index:1;
    
}

#header-img{
    margin-top:1/2%;
    width:20vw;
    height:5vh;
    
}
#nav-bar{
   width:40%;
}
ul{
    display:flex;
    list-style-type: none;
    justify-content:space-between;
    padding:20px;
    
    
}

a{
    
    text-decoration:none;
    color:black;
}

a:hover{

    color:red;
}

main{
    position:absolute;
    background-color:lightblue;
    
    width:80%;
    margin-left:10%;
    margin-top:10vh;
}
.handcraft{
    text-align:center;
    padding:1em;
}
#form{
    width:30%;
    margin:0 auto;
    
}
#email{
    width:100%;
    padding:5px;
    
}  

#submit{
    margin:1em auto;
    margin-top:1em;
    background-color:lightgreen;
    padding:10px;
    border:none;
    cursor:pointer;
}

h2{
    padding:1em;
}

.firstfeat,.para{
    padding-left:1em;
}

.secondfeat{
    padding-left:1em;
    padding-top:1em;
}

.thirdfeat{
    padding-left:1em;
    padding-top:1em;
}

#video{
    margin:2em auto;
}

.videoclass{
    text-align:center;
}

@media only screen and (max-width: 820px){
    #video{
        width:100%;
    }
    ul{
        flex-direction:column;
    }
    #header{
        flex-direction:column;
        height:17vh; 
    }
    main{
        margin-top:17vh;
    }
    #pricing{
        flex-direction:column;
    }
    
}

#pricing{
    display:flex;
    justify-content:space-between;
}

.firstprice{
    width:32%;
    background-color:white;
    border:1px solid black;
}
.secondprice{
    width:32%;
    background-color:white;
    border:1px solid black;
}
.thirdprice{
    width:32%;
    background-color:white;
    border:1px solid black;
}
h4{
    background-color:lightgrey;
    text-align:center;
    padding:1em;
}
.price{
    text-align:center;
    padding:1em;
    font-weight:bold;
    font-size:2rem;
}
.firstpara{
    text-align:center;
}
button{
    margin-left:40%;
    margin-top:4%;
    margin-bottom:4%;
    padding:1em;
    background-color:lightgreen;
    border:none;
    cursor:pointer;

}

@media only screen and (max-width:820px){
    .firstprice{
        width:100%;
    }
    .secondprice{
        width:100%;
    }
    .thirdprice{
        width:100%;
    }
}